<style type="text/css">
body{margin: 0; 
	     background-color: #f0f0f0;   
	    }
.header{
color: white;
background-color: #68cdd5;
width: 100%;
height: 3.5em;}   
.register{
	position: absolute;
	left: 0.7em;
	top: 1em;
	bottom: 1em;
	height: 2em;
  }
 .mid{
	font-size: 1.25em;
    text-align: center;
    padding-top: 0.6em;
	}
.close{
	position: absolute;
	right: 0.7em;
	top: 1em;
	bottom: 1em;
	height: 2em;
      }
.main-1,.main-2{background-color: white;
	            margin: 1em 0;
	            width: 100%;
	            height: 4em;    
               }
img{
	padding: 0.8em 2em 1.2em;
	max-width: 100%;
	max-height:100%;
	vertical-align: middle;
    }              
.inputtext,.inputpsd{
	                 outline: none;
	                 border-style: none none none solid;
                     border-left-style: solid;
                     border-color: #d0d0d0;
                     margin: 1em 0;
                     padding: 0.1em 1.5em;
                     height:2.6em;
                     vertical-align: middle;
                    }
.footer{
	width: 100%;
	height: 4em;
	text-align: center;
	background-color:#68cdd5;
	color: white;
       }
.inputsubmit{
   border: none;
   background-color: #68cdd5;
   color: white;
   margin: 0.5em auto;
   text-align: justify;
   font-size: 1.5em;
   word-spacing: 1em;
	        }
.forget{
	float: right;
	color:#68cdd5;
	width:5em;
	position:absolute;
	right: 0;
	text-decoration: underline;
       }
</style>